.column 
{
    float: left;
    width: 50%;
    padding: 0;
    margin: 5px 0;
}

form ol 
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

form li 
{
    padding: 1px;
    margin: 3px;
}

#addTangent 
{
    width: 100%;
    float: left;
    margin-top: 10px;
}

#addTangent input[type="text"] 
{
    width: 30%;
}

#addTangent textarea 
{
	width: 70%;
	height: 200px;
}

#tangents 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float:left;
    width: 100%;
}

#tangents li
{
	margin: 15px 15px 15px 0;
    padding: 1px;
    float: left;
	width: 300px;
	height: 430px;
    text-align: center;
	background-image: none;
    background-color: #F7F7F7;
}

#tangents li .tangentHeader
{
    padding: 5px;
    margin: 0;
    background-image: none;
    background-color: #1C1C1C;
	color: #F7F7F7;
	height: 24px;
	font-size:17px;
}

#tangents li h5
{
	margin-top: -30px;
	margin-left: 10px;
	padding: 0;
    color: White;
	text-align: left;
	font-weight:normal;
}

.removeTangent, .viewImage
{
    padding: 3px;
    text-decoration: none;
}

.progress 
{ 
	position:relative; 
	width:400px; 
	border: 1px solid #ddd; 
	padding: 1px; 
	border-radius: 3px; 
	display: none; 
}

.bar 
{ 
	background-color: #B4F5B4; 
	width:0%; 
	height:20px; 
	border-radius: 3px; 
}

.percent 
{ 
	position:absolute; 
	display:inline-block; 
	top:3px; 
	left:48%; 
}

.tangentText
{
	max-height: 115px;
    width: 280px;
	height:114px;
    font-size: 14px;
    padding: 13px 5px 5px 5px;
	text-align: left;
}

.tangentTextDetailView
{
	max-width: 560px;
    font-size: 14px;
	text-align: left;
	margin-bottom: 20px;
	margin-top: 20px;
}


.tangentTitleDetailView 
{
	font-size: 26px;
}

.tangentAboutDetailView
{
	font-size: 18px;
}

.crop img 
{
    width: 300px;
    height: 250px;
}

#status
{
	display: none;
}