

@model IEnumerable<TangentWeb.Models.TangentItem>
@{
    ViewBag.Title = "Home";
}

@section Scripts {

    @Scripts.Render("~/bundles/knockout")


    <script type="text/javascript">

        @functions
        {
            public string TokenHeaderValue()
            {
                string cookieToken, formToken;
                AntiForgery.GetTokens(null, out cookieToken, out formToken);
                return cookieToken + ":" + formToken;                
            }
        }

        function hideLinkIfNoTruncation(isTruncated, origContent) {
            if (!isTruncated) {
                $('.readMoreLink', this).remove()
            }
        }

        function TangentsViewModel() {

            var self = this;
            self.tangents = ko.observableArray([]);

            self.UserName = '@User.Identity.Name';

            self.removeTangent = function (tangent) {
                var deleteUrl = "api/tangents/" + tangent.id;
                $.ajax({
                    type: "DELETE",
                    url: deleteUrl,
                    success: function () {
                        self.tangents.remove(tangent);
                    },
                    headers: {
                    'RequestVerificationToken': '@TokenHeaderValue()'
                    }
                });
            }

            self.readMore = function (element) {
                var vm = ko.dataFor(element);
                window.location.href = "/Home/Details/" + vm.id;
            }

            $.getJSON("api/tangents", function (data) {
                self.tangents(data);

                $('.tangentText').dotdotdot({
                    after: "a.readMoreLink",
                    callback: hideLinkIfNoTruncation
                });

                $('.tangentHeader').dotdotdot();


            });

        }

        var tangentsViewModel = new TangentsViewModel();

        ko.applyBindings(tangentsViewModel);

        ko.bindingHandlers.date = {
            update: function (element, valueAccessor, allBindingsAccessor, viewModel) {
                var value = valueAccessor();
                var formatString = allBindingsAccessor().formatString;
                var date = moment.utc(value).local();
                if (formatString == null) {
                    $(element).text(date.format("MMM D YYYY, h:mm:ss a"));
                }
                else {
                    $(element).text(date.format(formatString));
                }
            }
        };

    </script>


    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            // Declare a proxy to reference the hub. 
            var tangentWeb = $.connection.tangentHub;

            tangentWeb.client.newTangentReceived = function (tangent) {
                tangentsViewModel.tangents.unshift(tangent);
                $('.tangentText').dotdotdot({
                    after: "a.readMoreLink",
                    callback: hideLinkIfNoTruncation
                });

                $('.tangentHeader').dotdotdot();
            }

            $.connection.hub.start().done(function () {
                $("#Status").html("Connected");
            });
        });
    </script>
}

<ul id="tangents" data-bind="foreach: tangents">
    <li class="ui-widget-content ui-corner-all">

        <div class="tangentHeader">
            <span data-bind="text: $data.Title || 'Untitled'"></span>
        </div>

        <div class="crop">
            <img data-bind="attr: { src: $data.ImageUrl }" />  
        </div>
        <div class="authorInfo">
            <h5>
                <span data-bind="date: $data.Date || 'Date?'"></span> by <span data-bind="text: $data.PosterId || 'PosterId?'"></span>
            </h5>
        </div>
        <div class="tangentText">
            <span data-bind="text: $data.Text || 'Text?'"></span>
            <a href="javascript:void(0);" onclick="tangentsViewModel.readMore(this);"  class="readMoreLink">Read More</a>
        </div>

        @if (Request.IsAuthenticated) 
        {
            <div data-bind="visible: $data.PosterId === tangentsViewModel.UserName ">
                <a data-bind="attr: { href: self }, click: $root.removeTangent" class="removeTangent ui-state-default ui-corner-all">Remove</a>
            </div>
        }

    </li>
</ul>

